@use "./mixin" as *;
@use "./variables" as *;

.card {
    width: 400px;
    border: solid $black 2px;
    font-family: $primary-font;
    background-color: $white;

    img{
        width: 100%;
    }
    h1 {
        margin: 40px;
        font-size: 3em;
    }
    p {
        margin: 40px;
        font-size: 1em;
        opacity: 80%;
    }
    

}