@use "./mixin" as *;
@use "./variables" as *;

main {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    color: $black;
    background-color: $background-color;
    
}